.home-container {
    display: flex;
    flex-direction: column;
    width: 100vh;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.button-container {
    display: flex; /* Usar flexbox */
    gap: 10px; /* Espaçamento entre os botões */
    margin-top: 20px; /* Espaço acima dos botões */
}

