.form-container {
    max-width: 400px; /* Define uma largura máxima para o formulário */
    width: 100%; /* Permite que o formulário ocupe a largura disponível */
    height: 100%;
    padding: 20px; /* Adiciona espaçamento interno */
    border: 1px solid #ced4da; /* Borda leve */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Sombra leve para dar profundidade */
    background-color: #ffffff; /* Fundo branco para o formulário */
  }